A00_Lesson_1.ipynb
Data_Analysis_with_LLMs_-_Immanuel_Trummer.pdf
A01_API.ipynb
google.env
copilot.env
result.csv
skills/*
my_agent/__pycache__/*
my_agent/.env
my_agent/.adk/session.db
stuttgart_sport_news.md
findings.md
progress.md
task_plan.md
