A00_Lesson_1.ipynb
Data_Analysis_with_LLMs_-_Immanuel_Trummer.pdf
A01_API.ipynb
google.env
copilot.env
result.csv
skills/*
my_agent/__pycache__/*
my_agent/.env
my_agent/.adk/session.db
stuttgart_sport_news.md
findings.md
progress.md
task_plan.md
Lesson05a_Example.ipynb
history_claude_sonnet_4_5.json
.gitignore
results/gpt4o/Lesson05b_Example.ipynb
Lesson05b_Example.ipynb
*Example.ipynb
.skills/*
agent_history.json
.gitignore
Bosch_news.md
agent_history.xlsx
international_news.md
stuttgart_finance_news.md
stuttgart_technik_news.md
.env
.env
.github/*
.agents/*
A00_Test.ipynb
ai_trends_2026.md
economic_trends_2026.md
results/claude2/Nvidia_GTC_2026.md
results/qwen2/Nvidia_GTC_2026.md
test/*
*.pptx
Lesson11_Planning.md
tests/test_factorial.py
llm/*
从凭感觉编程到可行代码.mp4
Lesson12_Multi-Agent.md
AI_Report.md
